.axis {
    -fx-font-size: 0.7em;
    -fx-tick-label-gap:1;
    
   
    
    /*-fx-wrap-text: true;
   
    -fx-tick-label-gap:20;
    -fx-tick-length: 6;
    -fx-show-tick-marks: false;
    -fx-show-tick-labels: false;
    -fx-underline: true;
    */
}

 /*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 11, 2015, 11:36:11 AM
    Author     : Pavel
*/

