.table-cell:selected {
    -fx-background-color: lightgreen;
    -fx-text-fill: #000;
}

.table-cell{
    -fx-table-cell-border-color: #e0e0e0;
}

.greenLink {
    -fx-text-fill: white;
    -fx-font: bold 10px System;
    -fx-background-color: seagreen;
    -fx-border-color: #fff;    
}

.yellowLink {
    -fx-text-fill: black;
    -fx-font: bold 10px System;
    -fx-background-color: yellow;
    -fx-border-color: #fff;    
}

.defaultLink {
    -fx-text-fill: black;
    -fx-font: bold 10px System;
    -fx-border-color: #d0d0d0;
}

.holidayLink {
    -fx-text-fill: #000;
    -fx-font: bold 10px System;
    -fx-border-color: #d0d0d0;
    -fx-background-color: yellowgreen;
}

.titleButton {
    -fx-text-fill: navy;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-font: bold 11px System;
}

Hyperlink {
    -fx-text-fill: black;
    -fx-font: bold 11px System;
    -fx-border-color: #ffffff;
}

.text-field:focused {
    -fx-background-color: #606060, -fx-text-box-border, -fx-control-inner-background;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-border-style: dotted;
    -fx-text-fill: #8B0000;

}

.text-field {
    -fx-border-style: dotted;
    -fx-text-fill: darkblue;
    -fx-font: normal 13px Tahoma;
}