.table-cell:selected {
    -fx-background-color: lightgreen;
    -fx-text-fill: #000;
}

.table-cell{
    -fx-table-cell-border-color: #e0e0e0;
}

.greenLink {
    -fx-text-fill: white;
    -fx-font: bold 10px System;
    -fx-background-color: seagreen;
    -fx-border-color: #fff;    
}

.yellowLink {
    -fx-text-fill: black;
    -fx-font: bold 10px System;
    -fx-background-color: yellow;
    -fx-border-color: #fff;    
}

.defaultLink {
    -fx-text-fill: black;
    -fx-font: bold 10px System;
    -fx-border-color: #d0d0d0;
}

.holidayLink {
    -fx-text-fill: #000;
    -fx-font: bold 10px System;
    -fx-border-color: #d0d0d0;
    -fx-background-color: yellowgreen;
}

.titleButton {
    -fx-text-fill: navy;
    -fx-border-color: #c0c0c0;
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
    -fx-font: bold 11px System;
}
 
Hyperlink {
    -fx-text-fill: black;
    -fx-font: bold 10px System;
    -fx-border-color: #d0d0d0;
}

Hyperlink:visited {
    -fx-text-fill: black;
    -fx-font: bold 10px System;
    -fx-border-color: #d0d0d0;
}

.scaledFields {
    -fx-border-color: coral;
    -fx-font: Normal 20px System;
}

.tpFont {
    -fx-font: Normal 18 monospace;
}


